@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.subtext {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ED4C5C;
  text-decoration: none;
}

.title2 {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.title-roboto {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.button {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background-color: #ffffff00;
}

.link {
  font-family: 'Roboto';
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

body {
  min-height: 3922px;
  min-width: 1440px;
}

header {
  height: 782px;
  background-image: url("../img/BgHeader.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .head .head__container {
  position: relative;
  top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .head .head__container .head__title::before {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../img/icons/icon__head.png");
  height: 17px;
  width: 24.9px;
}

header .head .head__container .head__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

header .head .head__container .head__text .head__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head .head__container .head__text .head__navbar ul li {
  margin-left: 20px;
}

header .head .head__container .head__regist {
  text-transform: uppercase;
  width: 100px;
  height: 40px;
}

header .intro__head {
  position: relative;
  top: 258px;
}

header .intro__head .intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .intro__head .intro__container .intro__title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  margin-bottom: 40px;
}

header .intro__head .intro__container .intro__text {
  color: #fff;
  text-align: center;
}

header .intro__head .intro__container .intro__try {
  background-color: #FFFFFF;
  width: 160px;
  height: 50px;
  margin-top: 39px;
}

header .intro__head .intro__container .intro__try a {
  color: #ED4C5C;
  text-transform: uppercase;
}

main {
  position: relative;
  height: 2942px;
}

main .intro__main {
  margin-top: 94px;
}

main .intro__main .intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .intro__main .intro__container .intro__left {
  margin-right: 125px;
  margin-top: 94px;
}

main .intro__main .intro__container .intro__left .intro__title {
  color: black;
  font-size: 36px;
  line-height: 42px;
}

main .intro__main .intro__container .intro__left .intro__text {
  color: black;
  font-size: 14px;
  margin-top: 24px;
}

main .intro__main .intro__container .intro__left .intro__subtext {
  margin-top: 10px;
}

main .opportunity {
  margin-top: 158px;
}

main .opportunity .opportunity__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .opportunity .opportunity__container .all__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .opportunity .opportunity__container .all__column .opportunity__title {
  text-align: center;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 {
  margin-top: 69px;
  margin-left: 30px;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block .opportunity__subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block .all__text {
  position: relative;
  top: -100px;
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  left: 29px;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block .all__text .opportunity__subtitle {
  text-align: center;
  margin-top: 26px;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block .all__text .opportunity__text {
  text-align: center;
  margin-top: 20px;
}

main .opportunity .opportunity__container .all__column .opportunity__column_1 .opporunity__block .all__text .opportunity__subtext {
  text-align: center;
  margin-top: 12px;
}

main .technology {
  margin-top: 187px;
}

main .technology .technology__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .technology .technology__container .opportunity__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .technology .technology__container .opportunity__column .technology__culumn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 121px;
  margin-left: 64px;
}

main .technology .technology__container .opportunity__column .technology__culumn1 .technology__icon {
  width: 117px;
  height: 120px;
}

main .technology .technology__container .opportunity__column .technology__culumn1 .technology__allText .technology__title {
  font-weight: 500;
  font-size: 18px;
}

main .download {
  margin-top: 144px;
  min-width: 1440px;
  min-height: 500px;
  background-color: #ED4C5C;
}

main .download .download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .download .download__container .download__left {
  position: relative;
  top: 100px;
}

main .download .download__container .download__left .download__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

main .download .download__container .download__left .download__text {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-top: 24px;
}

main .download .download__container .download__left .download__allIcons {
  margin-top: 42px;
}

main .download .download__container .download__left .download__allIcons .download__icon2 {
  margin-left: 40.7px;
}

main .download .download__container .download__right {
  position: relative;
  top: 100px;
  left: 125px;
}

main .form {
  margin-top: 159px;
}

main .form .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .form .form__container .form__left .form__text {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  margin-top: 96px;
}

main .form .form__container .form__right {
  position: relative;
  left: 125px;
}

main .form .form__container .form__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .form .form__container .form__right form input {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

main .form .form__container .form__right form .form__input {
  margin-top: 24px;
}

main .form .form__container .form__right form button {
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  border-radius: 6px;
  width: 160px;
  height: 50px;
  color: #fff;
  margin-top: 24px;
}

footer {
  position: relative;
}

footer .adress {
  position: absolute;
  left: 460px;
  bottom: 97px;
}

footer .adress .adress__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .adress .adress__container .adress__allText {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}

footer .adress .adress__container .adress__allText .adress__title {
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

footer .adress .adress__container .adress__allText .adress__copy {
  margin-top: 45px;
}
